.jumbotron {
  padding: 100px 25px;
}

/* .container {
  background-color: #5a5555;
} */

/* .search-results {
  background-color: #b25252;
} */

.input-group {
  position: relative;
  width: 100%;
}

.list-group {
  position: absolute;
  width: 50%;
  z-index: 1000;
}

.results {
  background-color: #ffffff;
  list-style-type: none; /* Remove bullets */
  padding: 10; /* Remove padding */
  margin: 0; /* Remove margins */
}

li {
  border-bottom: 2px grey;
  background-color: light-blue;
}

/* .pagination {
  background-color: blue;
} */
