.jumbotron {
  padding: 100px 25px;
}

.input-group {
  position: relative;
  width: 100%;
}

.list-group {
  position: absolute;
  width: 50%;
  z-index: 1000;
}

.results {
  background-color: #ffffff;
  list-style-type: none;
  padding: 10;
  margin: 0;
}

.footer {
  background-color: lightgrey;
  position: absolute;
  padding-top: 12px;
  padding-right: 24px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}
